.sidebarChat {
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid #f6f6f6;
	padding: 20px;
}

.sidebarChat:hover {
	background-color: #ebebeb;
}

.sidebarChat___info {
	margin-left: 15px;
}

.sidebarChat___info > h2 {
	font-size: 17px;
	margin-bottom: 8px;
}

.sidebarChat___date {
	display: flex;
	margin-left: auto;
}
