.chat__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	max-width: 100%;
	border-top: 1px solid lightgray;
}
.chat__footer > form {
	flex: 1;
	display: flex;
}

.chat__footer > form > input {
	flex: 1;
	border-radius: 30px;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 15px;
	/* border-width: 0px; */
}
.chat__footer > form > button {
	display: none;
}
.chat__footer > .MuiSvgIcon-root {
	color: gray;
	padding: 10px;
}
